:root {
    --main-width: 1080px;
    --white: #ffffff;

    /* Font sizes */
    --font-size-base:1rem;
    --font-size-md:1.25rem;
    --font-size-lg:1.5rem;
    --font-size-sm:0.875rem;
    --font-size-xs:0.75rem;

    /* Color */
    --primary-color:#00AA95;
    --secondary-color:#ccc;
  }