.btn{
    cursor: pointer;
    border-radius: 6px;
    text-align: center;
    padding: 0.25rem 0.5rem;
    font-size: var(--font-size-sm);
    min-width:8rem;
    border: none;
}
.btn:active{
   
    box-shadow: none !important;
}
.btn:focus{
 
    box-shadow: none !important;
}
.btn-primary{
    color: white;
    background-color: var(--primary-color) !important;
    transition: 0.2s all ease-in-out;
    
}


.btn-secondary{
    color: black;
    background-color: var(--secondary-color);
    transition: 0.2s all ease-in-out;
}
.btn-primary:hover,.btn-primary:focus{
    background-color: #047b6d !important;
}

.btn-secondary:hover,.btn-secondary:focus{
    background-color: rgb(166, 166, 166) !important;
}

.btn-sm{
width: fit-content;
min-width:5rem;
}
.btn-md{
font-size: var(--font-size-base);
}
.btn-lg{
    width: 12rem;
    /* font-size: var(--font-size-md); */
}
.btn-full{
    width: 100%;
}

.btn-blank{
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-align: left;
    font-size: var(--font-size-base);
    width: fit-content;
}
.btn-blank:focus{
    outline: none;
    box-shadow: none;
}
.btn-blank:active{
    outline: none;
}