.product-card{
width: 100%;
border-radius: 6px;
border: 1px solid #ccc;
cursor: pointer;
display: flex;
flex-direction: column;
/* box-shadow: 1px 1px 5px rgba(0,0,0,0.2), -1px -1px 2px rgba(0,0,0,0.2); */
}

.product-card-image{
width: 100%;

}
.product-card-image img{
width: 100%;
border-radius: 6px 6px 0 0 ;
}

.product-card-content{
padding: 1rem 0.45rem 0.5rem 0.45rem;
display: flex;
flex-direction: column;
justify-content: space-between;
flex-grow: 1;
/* font-size: var(--font-size-sm); */
}
.product-card-name{
font-weight: 600;
/* text-align: center; */

}

.product-card-category{
padding: 0.1rem 0.75rem;

border: 1px solid var(--primary-color);
color: var(--primary-color);
width: fit-content;
margin: 0.5rem 0;
letter-spacing: 1px;
border-radius: 8px;
font-size: var(--font-size-xs);
/* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */
}

.product-card-price{
font-weight: 600;
/* font-size: var(--font-size-sm); */
}

.product-card-btn{

    margin-top: 1rem;
    

}

@media screen and (max-width: 576px){
    .product-card{
        width: 100%;
    }
}
