.product-card{
width: 200px;
border-radius: 6px;
border: 1px solid #ccc;
cursor: pointer;
/* box-shadow: 1px 1px 5px rgba(0,0,0,0.2), -1px -1px 2px rgba(0,0,0,0.2); */
}

.product-card-image{
width: 100%;
border-radius: 6px;
}
.product-card-image img{
width: 100%;
border-radius: 6px;
}

.product-card-content{
padding: 1rem 0.75rem;
/* font-size: var(--font-size-sm); */
}
.product-card-name{
font-weight: 600;
/* text-align: center; */

}

.product-card-category{
padding: 0.25rem;
border: 1px solid #ccc;
width: fit-content;
margin: 0.5rem 0;
border-radius: 8px;
font-size: var(--font-size-xs);
font-family: 'Courier New', Courier, monospace;
}

.product-card-price{
font-weight: 600;
/* font-size: var(--font-size-sm); */
}

.product-card-btn{

    margin-top: 1rem;
    

}

