.category-page{

}
.category-content{
    display: flex;
    gap: 1rem;
    margin: 2rem 0;
}
    
.filter-products{
    padding-right: 1.5rem;
    min-width: 230px;
    border-right: 1px solid var(--secondary-color);
}
.category-filter{
    margin-bottom: 1.25rem;
}
.filter-title{
    font-size: var(--font-size-md);
    font-weight: 600;
}

.category-picker{


}

.individual-category{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.25rem 0;
    cursor: pointer;
}

.individual-category-name{

}

.order-filter{
    margin-top: 1.5rem;
}

.order-category{
    margin-top: 1rem;
}
.order-category-title{
    font-weight: 600;
}
.order-category-data{
display: block;
cursor: pointer;
padding: 0.15rem 0;
}

.search-result-title{
    font-size: var(--font-size-md);
    font-weight: 600;
    margin-bottom: 1rem;
}


.category-products-data{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4,1fr);
    flex-wrap: wrap;
}

input[type=checkbox], input[type=radio]{
color: var(--primary-color);

}

input[type=checkbox]:hover,input[type=checkbox]:focus, input[type=radio]:focus{
    box-shadow: none;
}

label{
    margin-bottom: 0 !important;
}

.mobile-search{
    width: 100%;
    border-radius: 4px;

    
}

.mobile-search:focus{
    box-shadow: none;
    outline: none;
}
.mobile-filter{
    display: none;
}

@media screen and (max-width: 992px){

    .desktop-search{
        display: none;
    }
    .mobile-filter{
        display: block;
    }
    .category-products-data{
        
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width: 576px){
    .category-products-data{
        
        grid-template-columns: repeat(2,1fr);
    }
    .filter-products{
        padding-right: 0;
        border: none;
    }
}
