.auth-dashboard{
display: flex;
gap: 4rem;

}

.auth-navigation{
    width: 200px;

}

.user-profile-image{
    width: 200px;
    border-radius: 50%;
    border: 4px solid var(--secondary-color);

}
.user-profile-image img{
    width: 100%;
    border-radius: 50%;
}

.user-profile-name{
    text-align: center;
    font-size: var(--font-size-md);
    font-weight: 600;
    margin: 0.5rem 0;
}

.auth-nav-container{
    margin-top: 2rem;
}

.auth-page-content{
    flex-grow: 1;
}
.auth-nav-item{
    padding: 0.3rem 1rem;
    text-decoration: none;
    margin: 0.5rem 0;
    border-radius: 6px;
    cursor: pointer;
    color: black;
    background-color: transparent;
    transition: 0.2s ease-in-out;
}
.auth-nav-item-active, .auth-nav-item:hover,.auth-nav-item:focus{
    background-color: var(--secondary-color);
}


.logout-icon{
    width: 20px;
}

.user-update-item{
    display: flex;
    gap: 1rem;
    margin: 1.5rem 0;
}

.user-update-item> div{
    flex: 1;
}

.dashboard-cards{
    
    align-items: center;
    gap: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    

}

.dashboard-card{
   height: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 10px;
  
    align-items: center;
    justify-content: center;
}
.dashboard-card:nth-child(1){
    background-color: rgb(190, 146, 210);
}
.dashboard-card:nth-child(2){
    background-color: rgb(66, 163, 82);
}
.dashboard-card:nth-child(3){
    background-color: rgb(125, 125, 201);
}
.dashboard-card:nth-child(4){
    background-color: rgb(234, 161, 35);
}
.dashboard-card-title{
    font-size: 1.75rem;

}
.dashboard-card-value{
    font-size: 1.5rem;
}

.auth-page-content{
    overflow: scroll;
}

.auth-nav-mobile{
    display: none;
}
@media screen and (max-width: 576px){
    .auth-dashboard{
        gap: 1rem;
        flex-direction: column;
    }
    .auth-navigation{
        width: 100%;
    }
    .user-profile-image{
        display: none;
    }
    .auth-nav-mobile{
        display: block;
    }

    .auth-nav-desktop{
        display: none;
    }
    .user-update-item{
        flex-direction: column;
    }
}
